<%- include("partial/header.ejs") %>

    <body>
        <% comments.forEach( (comment)=>{ %>

            <div>
                <%= comment.text %>
            </div>
            <div>
                <%= comment.author %>
            </div>


            <a href="/update/<%=comment._id%>">Update</a>
            <a href="/delete/<%=comment._id%>"> Delete</a>


            <%  }) %>


                <div>
                    <form action="/createcomment" method="post">

                        <input type="text" name="text" id="">
                        <input type="text" name="author" id="">
                        <button type="submit">Post comment</button>

                    </form>

                </div>

                <%- include("partial/footer.ejs") %>